


<p>
  <span  matBadge={{task.selectedOptions.selected.length}} matBadgeOverlap="false" accent>Selections</span>
</p>

<div class="main-div">
<mat-card class="center">
    <button mat-icon-button color="accent" class="del" matTooltip="Delete Selected list item"><mat-icon>delete</mat-icon></button>
  <mat-card-content>
    <mat-selection-list #task>
      <mat-list-option class="list" *ngFor="let task of typesOfTasks">


        {{task}}
          <mat-divider></mat-divider>

      </mat-list-option>
    </mat-selection-list>

  </mat-card-content>
</mat-card>
</div>

<form class="task-form">
  <mat-form-field class="task-full-width">
    <input matInput placeholder="New Task">
  </mat-form-field>
</form>
<button class="btn-save" mat-button color="accent"><mat-icon>save</mat-icon></button>
