
.center{
  width: 50%;
  margin: 10px auto;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-130px;
}

.task-form{
margin-top: -110px;
 height: 1.125em;

 }


.btn-save{
margin-top: 5px;
margin-right: -240px
}
.del{
margin-top: 20px;
margin-right: -547px
}
.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
