
<p>
  <mat-icon  matBadge={{task.selectedOptions.selected.length}} matBadgeOverlap="false" matBadgeColor="accent">list</mat-icon>
</p>

<div class="main-div">
<mat-card class="center">
    <button mat-icon-button color="accent" class="del" matTooltip="Delete Selected list item"><mat-icon>delete</mat-icon></button>
  <mat-card-content>
    <mat-selection-list #task>
      <h3 matSubheader>Edit</h3>
        <mat-label>Task</mat-label>
           <mat-divider></mat-divider>
      <mat-list-option class="list" *ngFor="let task of tasks">
        <mat-icon matListIcon>edit</mat-icon>
      <p>{{task}}</p>
    <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
</div>
<!--<button  mat-fab color="accent" matTooltip="Add Task"><mat-icon>add</mat-icon></button>-->
<form class="task-form">
  <mat-form-field class="task-full-width">
    <textarea matInput placeholder="New Task"

     #newTask></textarea>
  </mat-form-field>
  <button (click)="addTask(newTask.value)" class="btn-save" mat-button color="primary" matTooltip="Save new task"><mat-icon>save</mat-icon></button>
</form>
