.mat-list-option {
    font-family: serif;
  }
.card-center{
  width: 50%;
  margin: 6px auto;
  border: 2px solid #d7d7d7;
  border-bottom: 0px;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.task-form{
padding: 1px;
 font-size: 18px;
 }
 .task-sty{

  margin-right: auto;
  }

.btn-save{
  height: 30px;
  width: 9px;
}

.del{
margin-top: 20px;
margin-right: -547px
}
.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
.edit-icon{
  margin-right: auto;
}
.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}
