
<mat-card class="card-center">
  <mat-card-header>
    <mat-icon  matBadge={{task.selectedOptions.selected.length}} matBadgeOverlap="false" matBadgeColor="accent">list</mat-icon>
      <mat-card-subtitle>Selections</mat-card-subtitle>
      <button class="edit-icon" mat-icon-button color="primary" matTooltip="Edit List Item"><mat-icon>edit</mat-icon></button>
    </mat-card-header>
  <mat-card-subtitle>Tasks</mat-card-subtitle>
    <mat-card-content>
      <mat-selection-list #task>
        <mat-divider></mat-divider>
        <mat-list-option *ngFor="let task of tasks;let ind = taskIndex">
      <mat-list-item>
          <button (click) = "removeTask(ind)"mat-icon-button color="accent" matTooltip="Delete List Item"><mat-icon>delete</mat-icon></button>
 <input class="toggle" type="checkbox" [checked]="task.complete" (click)="openSnackBar()">
        <span> {{task}}</span>
      </mat-list-item>
      </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions>
    <form>
      <mat-form-field class="task-form">
        <input matInput placeholder="New Task" type="text"[(ngModel)]="newTask" name="task" >
      </mat-form-field>
      <button class="btn-save" mat-raised-button color="primary" matTooltip="Save" (click) ="pushTask()"><mat-icon>save</mat-icon></button>
    </form>
  </mat-card-actions>
</mat-card>



<!--<button  mat-fab color="accent" matTooltip="Add Task"><mat-icon>add</mat-icon></button>-->
